body{
font-family: "Cairo", sans-serif;
background: #f4f7fc;
}

.home-page {
  background: url("../images/abha.jpg") no-repeat center center/cover;
  position: relative;
}


.overlay {
  background: rgba(0,0,0,0.55);
  min-height: 100vh;
  color: white;
}

.main-content{
max-width: 850px;
}

.logo{
width: 220px;
}

.project-title{
font-size: 42px;
font-weight: bold;
line-height: 1.7;
}

.project-description{
font-size: 20px;
line-height: 2;
}

.students-box,
.university-box{
background: rgba(255,255,255,0.1);

padding: 20px;

border-radius: 20px;

backdrop-filter: blur(10px);
}

.enter-btn{
background: #0d6efd;

color: white;

padding: 15px 40px;

border-radius: 50px;

font-size: 20px;

transition: 0.3s;
}

.enter-btn:hover{
background: #0b5ed7;

color: white;

}
